*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 15vh 85vh 100vh 60vh;
  grid-template-columns: 100vw; }

.header {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 90% 10%;
  align-items: center; }
  .header__logo {
    padding-left: 10px;
    cursor: pointer; }
    .header__logo__carservice {
      height: 40px;
      width: 200px; }
  .header__navigation {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    grid-template-columns: 1fr minmax(100px, auto);
    justify-items: flex-end;
    align-items: center;
    font-size: 1.8em;
    font-weight: 400; }
    .header__navigation__first {
      cursor: pointer; }
    .header__navigation__second {
      padding-right: 20px;
      cursor: pointer; }

.content {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 85vh 100vh; }
  .content__formsection {
    display: grid;
    grid-template-columns: 100%;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0.16)), url(../images/Car1366.jpg);
    background-repeat: no-repeat;
    background-size: 105% 100%;
    height: 100%;
    background-position: center;
    align-content: center;
    padding-left: 40px; }
    .content__formsection__formplace {
      background-color: #fff;
      height: 450px;
      width: 361px;
      border-radius: 5px; }
      .content__formsection__formplace__form {
        margin: 40px 0 0 15px; }
        .content__formsection__formplace__form h1 {
          font-size: 1.7em;
          font-weight: 600;
          margin-left: 5px;
          text-transform: uppercase;
          color: #494747; }
        .content__formsection__formplace__form__manufacturer {
          display: flex;
          flex-direction: column;
          margin: 5px 0 5px 10px; }
          .content__formsection__formplace__form__manufacturer__label {
            font-size: 2em;
            font-weight: 300;
            color: #3d3b3b; }
          .content__formsection__formplace__form__manufacturer #Manufacturer {
            cursor: pointer;
            width: 300px;
            height: 45px;
            padding: 0.6em 1.4em 0.5em 0.8em;
            border-radius: 5px;
            box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            outline: none;
            background-color: transparent;
            background-image: url("../images/angle-down-solid.svg"), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
            background-repeat: no-repeat, repeat;
            background-position: right 0.7em top 50%, 0 0;
            background-size: 0.25em auto 100%;
            color: #696464;
            font-size: 1.8em;
            position: relative; }
            .content__formsection__formplace__form__manufacturer #Manufacturer option {
              position: absolute; }
        .content__formsection__formplace__form__model {
          display: flex;
          flex-direction: column;
          margin: 5px 0 5px 10px; }
          .content__formsection__formplace__form__model__label {
            font-size: 1.9em;
            font-weight: 300;
            color: #3d3b3b; }
          .content__formsection__formplace__form__model #Model {
            cursor: pointer;
            width: 300px;
            height: 45px;
            padding: 0.6em 1.4em 0.5em 0.8em;
            border-radius: 5px;
            box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            outline: none;
            background-color: transparent;
            background-image: url("../images/angle-down-solid.svg"), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
            background-repeat: no-repeat, repeat;
            background-position: right 0.7em top 50%, 0 0;
            background-size: 0.25em auto 100%;
            color: #696464;
            font-size: 1.8em;
            position: relative; }
            .content__formsection__formplace__form__model #Model option {
              position: absolute; }
        .content__formsection__formplace__form__fuelType {
          display: flex;
          flex-direction: column;
          margin: 5px 0 5px 10px; }
          .content__formsection__formplace__form__fuelType__label {
            font-size: 1.8em;
            font-weight: 300;
            color: #3d3b3b; }
          .content__formsection__formplace__form__fuelType #fuelType {
            cursor: pointer;
            width: 300px;
            height: 45px;
            padding: 0.6em 1.4em 0.5em 0.8em;
            border-radius: 5px;
            box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            outline: none;
            background-color: transparent;
            background-image: url("../images/angle-down-solid.svg"), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
            background-repeat: no-repeat, repeat;
            background-position: right 0.7em top 50%, 0 0;
            background-size: 0.25em auto 100%;
            color: #696464;
            font-size: 1.8em;
            position: relative; }
            .content__formsection__formplace__form__fuelType #fuelType option {
              position: absolute; }
        .content__formsection__formplace__form__button {
          width: 305px;
          height: 65px;
          margin: 20px 0 0 5px;
          border-radius: 5px;
          font-size: 2em;
          font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
          background-image: linear-gradient(rgba(219, 39, 99, 0.93), rgba(219, 2, 154, 0.93));
          background-color: green;
          outline: none;
          cursor: pointer;
          transition: all 0.2s; }
          .content__formsection__formplace__form__button:focus {
            animation: pulsate 0.9s infinite; }
          .content__formsection__formplace__form__button:hover, .content__formsection__formplace__form__button:link, .content__formsection__formplace__form__button:visited {
            background-image: linear-gradient(to left bottom, rgba(233, 54, 108, 0.55), rgba(233, 54, 108, 0.9)); }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }
  .content__cardsection {
    grid-row: 2;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 25%);
    grid-template-rows: 15% 70% 15%;
    align-items: center;
    justify-content: space-evenly; }
    .content__cardsection__card1:hover {
      box-shadow: 7px 4px 12px grey; }
    .content__cardsection__card2:hover {
      box-shadow: 7px 4px 12px grey; }
    .content__cardsection__card3:hover {
      box-shadow: 7px 4px 12px grey; }
    .content__cardsection > * {
      height: 100%;
      width: 100%;
      margin: 0 10px 0 10px;
      border-radius: 10px;
      background-color: #fff;
      grid-row: 2;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 40% 60%;
      box-shadow: 5px 2px 10px grey; }
    .content__cardsection__card1 {
      grid-column: 1; }
      .content__cardsection__card1__imagesection {
        grid-row: 1; }
        .content__cardsection__card1__imagesection img {
          height: 100%;
          width: 100%; }
      .content__cardsection__card1__info {
        grid-row: 2;
        display: grid;
        grid-template-rows: 100%;
        grid-template-rows: 20% 80%;
        justify-items: center; }
        .content__cardsection__card1__info h2 {
          margin-top: 15px;
          text-align: justify; }
        .content__cardsection__card1__info p {
          margin: 5px 10px 5px 10px;
          font-size: 1.5em;
          line-height: 1.42857143;
          text-align: justify;
          word-spacing: 2px; }
    .content__cardsection__card2 {
      grid-column: 2; }
      .content__cardsection__card2__imagesection {
        grid-row: 1; }
        .content__cardsection__card2__imagesection img {
          height: 100%;
          width: 100%; }
      .content__cardsection__card2__info {
        grid-row: 2;
        display: grid;
        grid-template-rows: 100%;
        grid-template-rows: 20% 80%;
        justify-items: center; }
        .content__cardsection__card2__info h2 {
          margin-top: 15px;
          text-align: justify; }
        .content__cardsection__card2__info p {
          margin: 5px 10px 5px 10px;
          font-size: 1.5em;
          line-height: 1.42857143;
          text-align: justify;
          word-spacing: 2px; }
    .content__cardsection__card3 {
      grid-column: 3; }
      .content__cardsection__card3__imagesection {
        grid-row: 1; }
        .content__cardsection__card3__imagesection img {
          height: 100%;
          width: 100%; }
      .content__cardsection__card3__info {
        grid-row: 2;
        display: grid;
        grid-template-rows: 100%;
        grid-template-rows: 20% 80%;
        justify-items: center; }
        .content__cardsection__card3__info h2 {
          margin-top: 15px;
          text-align: justify; }
        .content__cardsection__card3__info p {
          margin: 5px 10px 5px 10px;
          font-size: 1.5em;
          line-height: 1.42857143;
          text-align: justify;
          word-spacing: 2px; }

.footer {
  grid-row: 4;
  grid-column: 1;
  background-color: #071c2c;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 85% 15%;
  color: #fff; }
  .footer__brandsection {
    grid-row: 1;
    display: grid;
    grid-template-columns: 30% 0.1% 69.9%;
    grid-template-rows: 100%; }
    .footer__brandsection__logosection {
      grid-column: 1;
      height: 100%;
      width: 100%; }
      .footer__brandsection__logosection__logo img {
        margin: 50px 0 0 20px;
        height: 40px;
        width: 200px; }
    .footer__brandsection__border {
      grid-column: 2;
      border: 0.4px solid #c4c1c1;
      height: 20rem;
      margin-top: 50px; }
    .footer__brandsection__info {
      grid-column: 3;
      display: grid;
      grid-template-columns: 47.5% 5% 47.5%;
      grid-template-rows: 100%;
      justify-items: center; }
      .footer__brandsection__info > * {
        margin: 50px 0 0 0;
        font-size: 2em;
        letter-spacing: 2px; }
      .footer__brandsection__info__about {
        grid-column: 1; }
        .footer__brandsection__info__about li {
          letter-spacing: 1px;
          text-decoration: none;
          outline: none;
          list-style-type: none;
          font-size: 0.9em;
          margin-left: 8px; }
          .footer__brandsection__info__about li:nth-child(1) {
            margin: 10px 0 0 5px; }
      .footer__brandsection__info__border {
        border: 0.4px solid #c4c1c1;
        height: 20rem; }
      .footer__brandsection__info__ourservice {
        grid-column: 3; }
        .footer__brandsection__info__ourservice li {
          letter-spacing: 1px;
          text-decoration: none;
          outline: none;
          list-style-type: none;
          font-size: 0.8em;
          margin-left: 5px; }
          .footer__brandsection__info__ourservice li:nth-child(1) {
            margin: 10px 0 0 5px; }
  .footer__addsection {
    grid-row: 2;
    border-top: 0.5px solid #fff;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
    font-size: 1.2em; }
    .footer__addsection__copyright {
      margin: 0 0 0 40px;
      letter-spacing: 1.5px;
      word-spacing: 0.8px; }
    .footer__addsection__socialmedia {
      grid-column: 2;
      display: flex;
      justify-content: flex-end; }
      .footer__addsection__socialmedia img {
        height: 30px;
        width: 30px;
        margin-right: 10px; }
        .footer__addsection__socialmedia img:nth-last-child(1) {
          margin-right: 28px; }
