.footer {
  grid-row: 4;
  grid-column: 1;
  background-color: #071c2c;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 85% 15%;
  color: #fff;
  &__brandsection {
    grid-row: 1;
    display: grid;
    grid-template-columns: 30% 0.1% 69.9%;
    grid-template-rows: 100%;
    &__logosection {
      grid-column: 1;
      height: 100%;
      width: 100%;
      &__logo {
        img {
          margin: 50px 0 0 20px;
          height: 40px;
          width: 200px;
        }
      }
    }
    &__border {
      grid-column: 2;
      border: 0.4px solid rgb(196, 193, 193);
      // margin-bottom: 5px;
      height: 20rem;
      margin-top: 50px;
    }
    &__info {
      grid-column: 3;
      display: grid;
      grid-template-columns: 47.5% 5% 47.5%;
      grid-template-rows: 100%;
      justify-items: center;
      & > * {
        margin: 50px 0 0 0;
        font-size: 2em;
        letter-spacing: 2px;
      }
      &__about {
        grid-column: 1;

        li {
          letter-spacing: 1px;
          text-decoration: none;
          outline: none;
          list-style-type: none;
          font-size: 0.9em;
          margin-left: 8px;
          &:nth-child(1) {
            margin: 10px 0 0 5px;
            // color: red;
          }
        }
      }
      &__border {
        border: 0.4px solid rgb(196, 193, 193);
        // margin-bottom: 5px;
        height: 20rem;
      }
      &__ourservice {
        grid-column: 3;
        li {
          letter-spacing: 1px;
          text-decoration: none;
          outline: none;
          list-style-type: none;
          font-size: 0.8em;
          margin-left: 5px;
          &:nth-child(1) {
            margin: 10px 0 0 5px;
            // color: red;
          }
        }
      }
    }
  }
  &__addsection {
    grid-row: 2;
    border-top: 0.5px solid #fff;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;

    font-size: 1.2em;
    &__copyright {
      margin: 0 0 0 40px;
      letter-spacing: 1.5px;
      word-spacing: 0.8px;
    }
    &__socialmedia {
      grid-column: 2;
      display: flex;
      justify-content: flex-end;

      img {
        height: 30px;
        width: 30px;
        margin-right: 10px;
        &:nth-last-child(1) {
          margin-right: 28px;
        }
      }
    }
  }
}
